/* .ml4 {
  position: relative;
  font-weight: 500;
  font-size: 48px;
  width: 8em;
}
.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0; 
} */

.ml1 {
  position: relative;
  font-weight: 500;
  font-size: 2.5em;
  height: 4rem;
  width: 24rem;
}

.ml1 .letters {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: auto; 
  margin-right: auto; 
  width: 24rem; 
}


.ml1 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transform-origin: 0 0;
}
