@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lekton:wght@700&family=Roboto&display=swap');
body {
  @apply mx-auto sm:py-40 h-full md:max-w-7xl font-roboto;
  /* margin: 10rem 20rem; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #C8DED2;
}

html{
  @apply h-[100vh];
}
